aws_lambda_payload_cur_part_function_name = ""
aws_lambda_payload_cur_part_invoke_arn    = "arn:aws:apigateway:eu-west-3:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-3:<account_id>:function:<function_name>/invocations"
