## ---------------------- ECS ----------------------------------
container_insight_setting_value = "disabled"
capacity_provider               = "FARGATE_SPOT"
domain_name                     = "greensuite.ippon.fr"