## ---------------------- GLOBAL -------------------------------
environment = "dev"
aws_region  = "eu-west-3"

## ---------------------- NETWORK ------------------------------
cidr               = "10.0.0.0/23"
public_subnets     = ["10.0.0.0/26", "10.0.0.64/26"]
private_subnets    = ["10.0.0.128/26", "10.0.0.192/26"]
database_subnets   = ["10.0.1.0/26", "10.0.1.64/26"]
enable_nat_gateway = false
single_nat_gateway = false
subdomain_name     = "subdomain"
zone_name          = "domain.fr"
