## ---------------------- BASTION ----------------------------------
down_recurrence     = "0 23 * * *"
bastion_volume_size = 10
instance_type       = "t3a.nano"

## ---------------------- RDS CONFIG ------------------------------
rds_instance_name           = "irocalc"
rds_instance_class          = "db.t4g.micro"
rds_database_engine_version = "15"
rds_database_engine         = "postgres"
rds_allocated_storage       = 10
rds_backup_retention_period = 5
rds_is_multi_az             = false
rds_database_port           = 5432
rds_database_name           = "irocalc"
